{% extends 'base.html.twig' %}

{% block title %}Championships{% endblock %}

{% block body %}
    <h1>Championships</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Logo</th>
            <th>Teams</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for championship in championships %}
            <tr>
                <td>{{ championship.id }}</td>
                <td>{{ championship.Name }}</td>
                <td>
                    <img src="{{ asset('uploads/images/' ~ championship.logo) }}" height="70px" alt="">
                </td>
                <td>
                    <ul>
                        {% for team in championship.teams %}
                            <li>
                                {{ team.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_championship_show', {'id': championship.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('app_championship_edit', {'id': championship.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_championship_new') }}">Create new</a>
{% endblock %}
